importFrom("stats", "ar")
importFrom("stats", "ar.ols")
importFrom("stats", "ar.burg")
importFrom("stats", "ar.yw")
importFrom("stats", "ar.mle")
importFrom("stats", "arima")
importFrom("stats", "arima0")
importFrom("stats", "arima.sim")
importFrom("stats", "acf")
importFrom("stats", "pchisq")

export(
"BoxPierce",
"fitstable",
"GetResiduals",
"gvtest",
"Hosking",
"ImpulseVMA",
"InvertQ",
"LiMcLeod",
"LjungBox",
"portest",
"rStable",
"ToeplitzBlock",
"varima.sim",
"vma.sim"
)

