importFrom("stats",
"ar",
"ar.ols",
"ar.burg",
"ar.yw",
"ar.mle",
"arima0",
"arima",
"arima.sim",
"simulate",
"acf",
"pchisq",
"ts",
"as.ts",
"coef",
"diffinv",
"formula",
"median",
"quantile",
"rcauchy",
"rchisq",
"runif",
"update.formula",
"na.omit",
"na.pass",
"pgamma",
"resid",
 "residuals",
"toeplitz"
)

import("parallel","forecast")

export(
"BoxPierce",
"GetResiduals",
"MahdiMcLeod",
"Hosking",
"ImpulseVMA",
"InvertQ",
"LiMcLeod",
"LjungBox",
"portest",
"ToeplitzBlock",
"varima.sim",
"vma.sim"
)
